@{
    ViewBag.Title = "Home Page";
}

<div class="main-banner">
    <div class="row">
        <div class="col-xs-7 text-center align-middle" style="color:#fff;text-shadow:0px 0px 5px #000">
            <h1>Niloufar Physio Care</h1>
            <h2>Physiotherapy & Rehabilitation Clinic</h2>
            <hr />
            <h3 style="font-weight: bold">Dr.Irfan Sharif Shaik</h3>
            <h4 style="font-weight: bold">+91 7207788135</h4>
        </div>
        <div class="col-xs-5 text-center address-div">
            <h3 style="text-decoration:underline; font-weight: bold">Address</h3>
            <h4>D.S. Kalyana Madapam Road,</h4>
            <h4>Near Ganesh Temple, Old Club Road,</h4>
            <h4>Kothapeta, Guntur, Pincode: 522001</h4>
            <h4>Andhra Pradesh, India</h4>
        </div>
    </div>
</div>

<div class="text-center map-div col-xs-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15317.886748086068!2d80.44658603488776!3d16.298825751050014!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbcde371376ceacc5!2sNILOUFAR+PHYSIO+CARE!5e0!3m2!1sen!2sus!4v1546576124577" width="900" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>    
</div>