@{
    ViewBag.Title = "Home Page";
}

<div class="main-banner">
    <div class="align-middle text-center" style="color:#fff;text-shadow:0px 0px 5px #000; border: 1px solid #fff; border-radius: 5px; margin: 5px;">
        <h1>Niloufar Physio Care</h1>
        <h2>Physiotherapy & Rehabilitation Clinic</h2>
        <hr />
        <h3 style="font-weight: bold">Dr.Irfan Sharif Shaik</h3>
        <h4 style="font-weight: bold">+91 7207788135</h4>
    </div>
</div>


<div class="container-fluid" style="
    /*justify-content: space-around;*/
    justify-content: center;
    display: flex;
    float: none;">
    <div class="row">
        <div class="col-xs-6 address-div text-center align-middle pull-left">
            <h3 style="text-decoration:underline; font-weight: bold">Address</h3><br />
            <h4>D.S. Kalyana Madapam Road,</h4>
            <h4>Near Ganesh Temple, Old Club Road,</h4>
            <h4>Kothapeta, Guntur, Pincode: 522001</h4>
            <h4>Andhra Pradesh, India</h4>
        </div>
            <div class="map-div pull-right">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15317.938266378045!2d80.4509634!3d16.2981667!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbcde371376ceacc5!2sNILOUFAR+PHYSIO+CARE!5e0!3m2!1sen!2sus!4v1546654461896" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
    </div>

</div> 